@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: white;
}

.hero-border {
  position: absolute;
  border-radius: 64% 36% 60% 40% / 36% 51% 49% 64%;
  background-color: orange;
  width: 225px;
  height: 225px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.loading {
  animation: moveUpDown 1s infinite alternate;
}

.loading:nth-child(1) {
  animation-delay: 0s;
}
.loading:nth-child(2) {
  animation-delay: 0.2s;
}
.loading:nth-child(3) {
  animation-delay: 0.4s;
}
.loading:nth-child(4) {
  animation-delay: 0.6s;
}
.loading:nth-child(5) {
  animation-delay: 0.8s;
}
.loading:nth-child(6) {
  animation-delay: 1s;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
